body {
    display: flex;
    /* background: linear-gradient(45deg, #06195B, #056DB4, #fff); */
    background: linear-gradient(50deg, #00092a, #7ccaff);
    /* background-color: #056DB4;     */
}

/* .logo-autocred {
    height: 100px;
    width: 100px;
} */

h2 {
    margin: 10px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    margin: 10px auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.container {
    width: 150px;
    height: 10px;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#aprovado {
    color: #199A01;
    font-size: 36px;
    width: 100px;
    height: 100px;
}


p {
    color: #9a9a9a;
    font-size: 12px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    border: 1px solid #ccc;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    height: 520px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.esconder {
    display: none;
}

.exibir {
    display: flex;
}

.card span {
    font-weight: 600;
    color: #000;
}

#logo-autocred-no-card, .simbolo-de-verificacao {
    width: 100px;
    height: 100px;
}